# Environments
venv-curso-ipea/
env/
.venv/

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
*.pyo
.python-version
Python-3.12.10/
Text/

# Dados grandes
dados/raw/

!dados/exemplos/sample_data.csv